@use "../base/variables" as *;

.card {
  padding: $spacing-sm + $spacing-xs;
  border-radius: $radius-md;
  background-color: $color-surface;
  box-shadow: $shadow-md;
  transition: transform $transition-fast ease;

  &:hover {
    transform: translateY(-4px);
  }

  h2,
  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: $spacing-xs;
  }
}

/* Responsive: Card */
@media (max-width: 600px) {
  .card {
    padding: $spacing-sm; /* tighten a bit on small screens */
  }
}
