@use "../base/variables" as *;

.card {
  padding: $spacing-sm + $spacing-xs;
  border-radius: $radius-md;
  background-color: $color-surface;
  box-shadow: $shadow-md;
  transition: transform $transition-fast ease;

  &:hover {
    transform: translateY(-4px);
  }

  h2,
  h3 {
    margin-top: 0;
  }

  p {
    margin-bottom: $spacing-xs;
  }
}

// @use "../base/variables" as *;

// .card {
//   padding: $spacing-sm + $spacing-xs; // 1.5rem
//   border-radius: $radius-md;
//   background-color: $color-surface;
//   box-shadow: $shadow-md;
//   transition: transform $transition-fast ease;

//   &:hover {
//     transform: translateY(-4px);
//   }

//   // headings inherit global weights; only reset margins
//   h2,
//   h3 {
//     margin-top: 0;
//   }

//   p {
//     margin-bottom: $spacing-xs;
//   }
// }
